@charset "utf-8";
/* Dashboard CSS */

/* SOURCE OF APPLICATION */
.chart-date-range {
    width: 100%;
    text-align: center;
    font-family: OpenSansRegular;
    font-size: 13px;
    color: #333333;
}
.chart-date-range>strong {
    margin-top: 20px;
    font-family: OpenSansBold;
}

#boxSourceOfApplication .box-footer p{
    margin: 0;
    width: 100%;
    text-align: center;
}

#boxSourceOfApplication .box-footer p .label {
    font-size: 12px;
    font-family: OpenSansRegular;
    font-weight: normal;
}

.applicant-counter,
.principal-counter {
    font-family: OpenSansRegular;
    font-size: 40px;
    line-height: 50px;
    color: #006699;
    letter-spacing: -2px;
    margin-bottom: 25px;
}

.applicant-counter>.counter,
.principal-counter>.counter{
    width: 100%;
    padding: 20px;
    background-color: #e5e5e5;
    background-repeat: no-repeat;
}
.applicant-counter>.counter{
    background-image: url(../images/applicant-icon.png);
    background-position: center right;
}
.principal-counter>.counter{
    background-image: url(../images/principal-icon.png);
    background-position: center left;
    text-align: right;
}

.applicant-counter>.counter>small,
.principal-counter>.counter>small {
    font-family: OpenSansRegular;
    font-size: 13px;
    line-height: 16px;
    color: #666666;
    letter-spacing: 0;
}

#chartApplicantStatus>svg>text{
    font-family: OpenSansRegular !important;
    font-weight: normal !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-stretch: normal !important;
}

.applicant-status-info{
    margin-top:50px;
}

.applicant-status-info-list{
    margin-bottom: 10px;
}

.applicant-status-info-list .counter,
.applicant-status-info-list .percentage {
    color: #999999;
    text-align: right;
}

.applicant-status-info .fa.active {
    color: #e3337e;
}
.applicant-status-info .fa.blacklisted {
    color: #0b326b;
}
.applicant-status-info .fa.deadfile {
    color: #827775;
}
.applicant-status-info .fa.deployed {
    color: #f5bd42;
}
.applicant-status-info .fa.excess {
    color: #f05129;
}
.applicant-status-info .fa.onpool {
    color: #966eac;
}
.applicant-status-info .fa.operation {
    color: #7bcbc0;
}
.applicant-status-info .fa.pooling {
    color: #b7cc94;
}
.applicant-status-info .fa.reserved {
    color: #f1c7dd;
}
.applicant-status-info .fa.workabroad {
    color: #b09977;
}

/* SCHEDULE */
ul.schedule-list{
    margin-bottom: 0;
}
ul.schedule-list li {
    border-bottom: 1px solid #e4e4e4;
}
ul.schedule-list li a {
    display: inline-block;
    width: 100%;
    padding: 10px;
    color: #333333;
    font-family: OpenSansRegular;
    font-size: 13px
}
ul.schedule-list li a strong {
    font-family: OpenSansSemibold;
}

ul.schedule-list li a:hover {
    color: #006699;
    background-color: #ececec;
}

/* Chart */
.chart svg, .chart canvas {
    width: 100%!important;
}

#canvasChartSourceOfApplication {
    width: 100%;
}
#chartSourceOfApplication {
    
}
#chartjs-tooltip {
    opacity: 1;
    position: absolute;
    background: rgba(0, 0, 0, .7);
    color: white;
    padding: 3px;
    border-radius: 3px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.chartjs-tooltip-key{
    display:inline-block;
    width:10px;
    height:10px;
}