@charset "utf-8";
/* CSS DOCUMENTS */

/* FONTS */
@font-face{font-family: OpenSansLight; src: url('../fonts/open-sans/OpenSans-Light.ttf');}              /* light */
@font-face{font-family: OpenSansRegular; src: url('../fonts/open-sans/OpenSans-Regular.ttf');} 		    /* regular */
@font-face{font-family: OpenSansSemibold; src: url('../fonts/open-sans/OpenSans-Semibold.ttf');} 		/* semibold */
@font-face{font-family: OpenSansBold; src: url('../fonts/open-sans/OpenSans-Bold.ttf');} 				/* bold */
@font-face{font-family: OpenSansExtraBold; src: url('../fonts/open-sans/OpenSans-ExtraBold.ttf');} 	    /* extra bold */

/* GLYPHICONS */
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

#page-wrapper {
	width: 100%;
	margin: 0;
	padding: 0;
}

a {
    color: #0099cc;
}
a:hover {
    color: #006699;
}

p{
    font-family: OpenSansRegular;
}

p strong{
    font-family: OpenSansSemibold;
    font-weight: normal;
}

h1 {
    font-family: OpenSansLight;
}

h1 strong {
    font-family: OpenSansSemibold;
}

h3, h4 {
    font-weight: normal;
    font-family: OpenSansSemibold;
    font-size: 16px;
    letter-spacing: -1px;
}

h3 strong, h4 strong {
    font-family: OpenSansSemibold;
    font-weight: normal;
}

h3[data-widget="collapse"],
h4[data-widget="collapse"]{
    cursor: pointer;
}

h3[data-widget="collapse"]:hover,
h4[data-widget="collapse"]:hover{
    color: #0099cc;
}

h4 {
    margin: 0;
}

hr {
    border-top: 1px solid #cbd9dc;
}
hr.mtop10 {
    margin-top:10px;
}
.alert.alert-loading{
    padding: 15px;
    background-color: #e4e4e4;
    border-radius: 0;
}
.alert.alert-loading i.fa{
    color: #055e88;
    font-size: 20px;
}
.alert.alert-loading span{
    font-size: 16px;
    display: inline-block;
    font-family: OpenSansSemibold;
    color: #3497ce;
    letter-spacing: 1px;
}

label, input[type=checkbox], input[type=radio] {
    vertical-align: middle;
}
.label-status {
    font-family: OpenSansSemibold;
    font-weight: normal;
    font-size: 11px;
    border-radius: 2px;
}
textarea {
    resize:vertical;
}
textarea#textMessage,
textarea#textInternalAdvisory,
textarea#inputSpecialCondition,
textarea#textareaClinicRemark,
textarea#textareaCounterRemark{
    height: 100px;
}
textarea#textFollowUpRemarks,
textarea#textApplicantAdvisory,
textarea#textAddIntlAdv,
textarea#textAddEWRemarks,
textarea#textAddClientRemarks{
    height: 155px;
}
.text-preview-green,
.text-preview-blue {
    width: 100%;
    padding: 15px;
    font-family: OpenSansRegular;
    font-size: 13px;
    line-height: 16px;
    color: #333333;
    text-align: justify;
}
.text-preview-green p:last-child,
.text-preview-blue p:last-child {
    margin-bottom: 0;
}
.text-preview-blue {
    background-color: #bce3fc;
}
.text-preview-green {
    background-color: #b9ffe7;
    min-height: 285px;
    height: auto;
}

/* HEADER */
#header {
	background-color: #ececec;
	width: 100%;
	border-top: 3px solid #004c72;
}

/* BODY */
body {
	background-color: #e4e4e4;
    font-family: OpenSansRegular;
    font-size: 13px;
    line-height: 16px;
}

body.login-page {
    background-color: #ffffff;
}

/* Header */
.main-header{
    position: absolute;
    width: 100%;
    height: 51px;
    border-bottom: 1px solid #c5ddee !important;
}
.main-header .tooltip-inner {
    min-width: 100px;
    width: auto;
    max-width: auto;
}

.main-header .logo {
    width: 190px;
    background-color:#006699;
    height: 51px;
    border-top:3px solid #004c72;
	/*border-bottom: 1px solid #f1f1f1;*/
}

.main-header .logo .logo-lg{
    margin: 0;
}

.main-header .logo .logo-mini{
    margin: 9px 0 0 0;
}

.main-header .navbar {
	/*border-bottom: 1px solid #f1f1f1;*/
    z-index: 1000;
}
    .nav>li>a:hover,
    .nav>li>a:active,
    .nav>li>a:focus{
        background-color:#c5ddee;
    }

/* Navigation */
.main-header>.navbar {
    height: 50px;
    margin-left: 190px;
    background-color: #ececec;
    border-top:3px solid #004c72;
    background-color: #dbe7ed !important;
}

.main-header .navbar .page-title {
    font-family: OpenSansRegular;
    font-size: 16px;
    line-height: 18px;
    color: #005f8d;
    display: inline-block;
    float: left;
    width: 50%;
    margin-top: 13px;
    letter-spacing: -1px;
}

.main-header .sidebar-toggle {
    font-size: 18px;
    line-height: 1.5em;
    padding:10px 20px;
    color: #005f8d;
}
.main-header .sidebar-toggle:hover{
    color: #469ddb;
}
.main-header .navbar .nav>li>a>.label{
    top: 5px;
    right: 0px;
}
.navbar-custom-menu .navbar-nav i.fa {
    font-size: 18px;
    line-height: 1.5em;
    /*color: #666666;*/
        color: #005f8d;
}
.navbar-nav>li.user-menu>a:hover,
.navbar-nav>li.user-menu>a:focus,;k
.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
    /*background: #e0e0e0;*/
        background-color: #c7e3f0;
}

.navbar-nav>li>a:hover>.fa {
    color: #0099cc !important;
}

.navbar-nav>li.emergency-btn>a:hover>.fa {
    color: #f39c12 !important;
}

.navbar-nav>li.alert-btn>a:hover>.fa {
    color: #dd4b39 !important;
}

/* User Menu */

.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
    border-radius: 0;
}

.navbar-nav>.user-menu .user-image {
    margin-top: -8px;
    width: 35px;
    height: 35px;
    border: 2px solid #ffffff;
    border-radius: 20px;
}

.navbar-nav>.user-menu>.dropdown-menu {
    width: 225px;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    padding-bottom: 10px;
    height: auto;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>img{
    border-color: #ffffff;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
    font-family: OpenSansLight;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
    text-transform: capitalize;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p>small {
    font-size: 9px;
    color: #ffffff;
    text-transform: capitalize;
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer {
    padding: 0;
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer>.btn {
    margin: 0;
    font-size: 13px;
    font-family: OpenSansRegular;
    padding: 5px;
}

/* SIDEBAR */
.sidebar {
    padding-bottom: 20px;
}

.main-sidebar, .left-side {
    padding-top: 50px;
    width: 190px;
}

.sidebar-form, .sidebar-menu>li.header {
    background-color: #0077b3;
    color: #ffffff;
    font-family: OpenSansRegular;
    font-size: 11px;
    border: 0;
}

.sidebar-menu>li {
    background: #e1e1e1;
    border-top: 1px solid #e9e9e9;
    /*border-bottom: 1px solid #cfcfcf;*/
}

.sidebar-menu>li.active {
    background-image:url('../images/sidebar-active-bg.png');
    background-repeat: repeat-y;
    background-position: top left;
    color: #005f8d;
}

.sidebar-menu>li.active>a {
    color: #005f8d;
}

.sidebar-menu>li>a {
    color: #333333;
    font-family: OpenSansRegular;
    font-size: 13px;
    padding: 10px 5px 10px 15px;
    border-bottom: 1px solid #cfcfcf;
    text-shadow: 0 1px 0 #ececec;
}

.sidebar-menu>li>a>.fa{
    font-size: 14px;
}

.sidebar-menu .treeview-menu {
    padding:5px 0 5px 5px;
}

.sidebar-menu li>.treeview-menu {
    background-color: #dddddd;
}

.sidebar-menu .treeview-menu>li>a {
    font-family: OpenSansRegular;
    font-size: 13px;
    color: #666666;
    text-shadow: 0 1px 0 #ececec;
}

.sidebar-menu .treeview-menu>li>a:hover{
    color: #006699;
}

.sidebar-menu .treeview-menu .treeview-menu {
    margin-left:-5px;
    background-color: #d4d4d4;
}

/* Content */
.content {
    padding: 10px;
}
.content-wrapper, .right-side, .main-footer {
    margin-left: 190px;
}
.content-wrapper{
    /*background-image: url('../images/content-bg.png');*/
    background-position: center top;
    background-color: #eaeaea;
    margin-top: 51px;
}
.content-wrapper.dashboard{
    background-image: url('../images/background.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #eaeaea;
    margin-top: 51px;
}
.content-header{
    margin-top: 50px;
    margin-bottom: 35px;
    padding: 15px 25px 0 25px;
}
.content-header>h1 {
    font-size: 48px;
    margin-top: 35px;
    color: #ffffff;
    letter-spacing: -2px;
}
.content-header>h1>small {
    font-family: OpenSansRegular;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0;
}

.applicant-main-profile {
    width: 100%;
    text-align: center;
}
.applicant-main-profile h4.status {
    margin: 0 0 5px 0;
    padding: 5px;
    text-align: center;
}
.applicant-main-profile h4.status-active {
    background-color: #7cb82f;
    color: #ffffff;
}
.applicant-main-profile h4.status-blacklisted {
    background-color: #86888a;
    color: #ffffff;
}
.applicant-main-profile h4.status-deadfile {
    background-color: #e68523;
    color: #ffffff;
}
.applicant-main-profile h4.status-deployed {
    background-color: #edb220;
    color: #DA6600;
}
.applicant-main-profile h4.status-excess {
    background-color: #dd5143;
    color: #ffffff;
}
.applicant-main-profile h4.status-on.pool {
    background-color: #00a0dc;
    color: #ffffff;
}
.applicant-main-profile h4.status-operations {
    background-color: #00aeb3;
    color: #ffffff;
}
.applicant-main-profile h4.status-pooling {
    background-color: #8d6cab;
    color: #ffffff;
}
.applicant-main-profile h4.status-reserved {
    background-color: #dc4b89;
    color: #ffffff;
}
.applicant-main-profile h4.status-workabroad {
    background-color: #e0e2e4;
    color: #333333;
}
.applicant-main-profile>.applicant-name,
.applicant-main-profile>.applicant-number{
    font-family: OpenSansRegular;
    color: #333333;
    text-align: center;
    margin: 5px 0
}
.applicant-main-profile>.applicant-name{
    font-family: OpenSansSemibold;
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: -1px;
}
.applicant-main-profile>.applicant-number{
    font-size: 14px;
    margin-bottom: 10px;
}

form>.form-group-heading {
    background-color: #e4e4e4;
    margin: 0 0 5px 0 !important;
}
form .form-group {
    margin-bottom: 10px;
}
form .form-group:last-child {
    margin-bottom: 0px;
}
form.form-horizontal .form-group .form-control{
    margin-bottom: 0px;
}
form.form-horizontal .control-label {
    font-family: OpenSansSemibold;
    font-weight: normal;
}
form.applicant-profile .form-group{
    margin-bottom: 10px;
}
form.display-info .form-group{
    margin-bottom: 0px;
}
form.display-info .form-group .form-control{
    margin-bottom: 10px;
}
form.applicant-profile .form-group>label.control-label{
    font-family: OpenSansSemibold;
    font-weight: normal;
}
form.applicant-profile .form-group>.control-display{
    font-family: OpenSansRegular;
    font-weight: normal;
    padding: 5px 10px;
}
form.applicant-profile .form-group>.control-display p{
    margin-bottom:0;
    margin-top: -5px;
}
form.applicant-profile .form-group>.control-display strong{
    font-family: OpenSansSemibold;
    font-weight: normal;
}
form.form-display .form-group{
    margin-bottom: 5px !important;
}
form .form-group .form-control.form-control-multiple {
    margin-bottom: 10px;
}
form .form-group .form-control.form-control-multiple:last-child {
    margin-bottom: 0px;
}
form.drivers-license .form-group label{
    font-family: OpenSansRegular;
    font-weight: normal;
}
form.drivers-license .form-group ul{
    margin-top: 10px;
    margin-left: 20px;
}
form.drivers-license .form-group ul li{
    margin-bottom: 10px;
}

/* LOG-IN */
.login-body{
    width: 100%;
}
.login-box, .register-box {
    /* ... */
}
.login-header{
    width: 100%;
    background-color: #006699;
    border-top: 3px solid #004c72;
    border-bottom: 1px solid #c5ddee;
    height: 65px;
    text-align: center;
    vertical-align: middle;
    font-family: OpenSansLight;
    font-size: 18px;
    line-height: 60px;
    color: #a9d5f4;
}
.login-header img.iris-logo {
    margin-top: -5px;
    vertical-align: middle;
}
.login-box h1 {
    color:#006699;
    font-size: 36px;
}
.login-box-body, .register-box-body {
    border: 1px solid #d4d8df;
}
.login-footer {
    width: 100%;
    background-color: #333333;
    color: #cccccc;
    height: auto;
    font-size: 10px;
    padding: 10px 0;
    position: fixed;
    bottom: 0px;
    border-top: 1px solid #232323;
}
.login-footer img.iris-logo {
    margin-bottom: 5px;
}

/* BOX */
.box {
    background-color: #ffffff;
    border-radius: 0;
    border-top: 3px solid #0099cc;
    margin-bottom: 15px;
}
.box.box-inner {
    border-top: 0; /*3px solid #cccccc;*/
    background-color: #eeeeee;
    margin-bottom: 10px;
}
.box.box-inner>.box-header>h4 {
    color: #006699;
}
.box.box-inner>.box-body p {
    margin-bottom: 5px;
    font-size: 11px;
}
.box.box-inner>.box-body .form-horizontal .control-display {
    padding: 7px 10px;
}
.box .box-header,
.box .box-body,
.box .box-footer{
    padding: 10px;
}
.box .box-body{
    padding: 0px 10px 10px;
}
.collapsed-box .box-header {
    padding: 10px;
}
.box-header.with-border{
    border: 0;
}
.box-header>.fa,
.box-header>.glyphicon,
.box-header>.ion,
.box-header .box-title {
    font-family: OpenSansSemibold;
    font-size: 16px;
    color: #333333;
    letter-spacing: -1px;
}
.box .box-header h3 i {
    width:22px;
    text-align: center;
}
.box-header .box-title small{
    letter-spacing: 0px;
    font-size: 55%;
    text-transform: uppercase;
    font-family: OpenSansRegular;
}
.box-header>.box-tools {
    right: 7px;
    top: 7px;
}
.box-header a.btn.pull-right {
    margin-left: 10px;
}
.box-header .btn-box-add{
    margin-right: 5px;
}
.box .box-header h4 {
    font-family: OpenSansSemibold;
    font-size: 16px;
    color: #333333;
}
.box .box-header h4 i {
    width:24px;
    text-align: center;
    margin-right:5px;
}
.box .box-header a.btn-box-add {
    margin-top: -2px;
}
.box-body h3 {
    font-family: OpenSansRegular;
    font-size: 20px;
    color: #006699;
    padding-bottom: 15px;
    border-bottom: 1px solid #e4e4e4;
    margin: 0 0 15px 0;
}
.box-body h4 {
    margin: 0 0 15px 0;
}
.box-body h4[data-widget="collapse"]{
    margin: 0;
}
.box .box-footer {
    background-color:#e4e4e4;
}
.box .box-footer .form-group{
    margin-bottom:0;
}
.box.box-solid.box-default{
    border: 1px solid #e4e4e4;
}
.box.box-solid.box-default>.box-header {
    background-color: #e4e4e4;
}
.box.box-solid.box-default>.box-header>h3 {
    border-bottom: 0;
    padding: 0;
    margin: 0;
}
.box.box-mini .box-header,
.box.box-mini .box-body,
.box.box-mini .box-footer{
    padding: 10px;
}
.box.box-mini .box-header>.box-tools {
    right: 9px;
    top: 9px;
}
.box .box-footer ul.data-logs {
    margin: 0;
}
.box .box-footer ul.data-logs li {
    margin: 0 15px 0 0;
    display: none;
    /*float: left;*/
    width: auto;
    color: #ababab;
}
.box .box-footer ul.data-logs li small {
    font-size: 75%;
}
.box .box-footer ul.data-logs li:hover {
    color: #666666;
}
.box .box-footer ul.data-logs li:first-child{
    display:block !important;
}
.box.box-no-header .box-body{
    padding-top: 20px;
}
.box.box-body .box-footer{
    margin: 0 -10px -10px;
    border-radius: 0;
}
#boxEmergencyCases .box-body{
    padding-top:10px;
}
#boxEmergencyCases .box-body h4{
    font-family: OpenSansSemibold;
    font-size: 14px;
    margin-bottom: 5px;
}
#boxEmergencyCases .box-body table{
    font-family: OpenSansRegular;
    font-size: 11px;
}
#boxEmergencyCases .box-body table thead tr th,
#boxEmergencyCases .box-body table tbody tr td{
    padding: 8px;
}

label.user-status {
    margin: 7px 10px 0 0;
    font-weight: normal;
    font-family: OpenSansRegular;
}

label.user-status strong {
    font-family: OpenSansSemibold;
}

/* TABLE */
.table {
    border: 0;
    font-family: OpenSansRegular;
    font-size: 13px;
}
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    border: 0;
}
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th{
    font-family: OpenSansSemibold;
    text-transform: uppercase;
}
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    vertical-align: middle;
}
.table>tbody>tr>td.expired{
    background-color: #cc0000;
    color: #ffffff;
}

.table-bordered {
    border: 1px solid #cbd9dc;
}
.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
    border: 1px solid #cbd9dc;
}
table.table-bordered.dataTable {
    border-collapse: collapse !important;
}
.table-hover>tbody>tr:hover{
    background-color: #d8e7ee;
}
.table-no-margin {
    margin: 0;
}
#tableAccess>thead>tr>th,
#tableAccess>tbody>tr>td,
#tableAccess>tfoot>tr>th{
    vertical-align: middle;
}
.table-bordered{
    border-top: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}
.table-bordered>tbody>tr{
    border-bottom: 1px solid #e4e4e4;
}
.table-stripe>tbody>tr:nth-of-type(odd){
    background-color: #f1f1f1;
}
.table-stripe.table-even>tbody>tr:nth-of-type(odd){
    background-color: #e9e9e9;
}
.table-modification{
    border-bottom: 1px solid #eaeaea;
}
.table-modification label{
    font-weight: normal;
    margin: 0;
}
.table-even {
    background-color: #f1f1f1;
}
.table-hover>tbody>tr:hover,
.table-hover.table-stripe>tbody>tr:hover,
.table-hover.table-even>tbody>tr:hover{
    background-color: #d8e7ee;
}
.table-condensed>tbody>tr>td>.btn-group>a{
    font-size: 14px;
}
.table thead tr.danger td {
    color: #ff0000;
    font-family: OpenSansSemibold;
}
.table tbody tr.highlight{
    background-color: #e9e9e9;
}
.table-custom-pagination small strong{
    font-family: OpenSansSemibold;
    font-weight: normal;
}
.table-condensed,
table#tablePhotoshoot,
.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate{
    font-size: 11px;
}
.table>tbody>tr.red-tag{
    background-color: #ffb1b1;
    color: #760000;
}
.table>tbody>tr.red-tag td a{
    color:#ff0000;
}
.table>tbody>tr.blue-tag{
    background-color: #b4dbff;
    color: #003e79;
}
.table>tbody>tr.blue-tag td a{
    color:#0385ff;
}
.table>tbody>tr.purple-tag{
    background-color: #ffc0ea;
    color:#850059;
}
.table>tbody>tr.purple-tag td a{
    color:#ff10af;
}
.table>tbody>tr.red-tag td a i,
.table>tbody>tr.blue-tag td a i,
.table>tbody>tr.purple-tag td a i{
    font-size: 16px;
}

span.required{
    color: #cc0000;
}

ul.profile-info-list {
    width: 100%;
    margin: 0;
}
ul.profile-info-list li{
    padding: 15px 20px;
    border-bottom: 1px solid #e4e4e4;
}
ul.profile-info-list li:last-child{
    border-bottom: 0;
}
ul.profile-info-list li:hover{
    background-color: #eeeeee;
}
ul.profile-info-list li.no-hover:hover{
    background-color: #ffffff;
}
ul.profile-info-list li h3{
    font-family: OpenSansRegular;
    font-size: 16px;
    letter-spacing: -1px;
    padding: 0;
    margin: 0 0 10px 0;
    border: 0;
}
ul.profile-info-list li h3 strong{
    font-family: OpenSansSemibold;
    font-weight: normal;
}
ul.profile-info-list li p{
    margin-bottom: 5px;
    font-size: 12px;
}
/*ul.profile-info-list li p:last-child{
    margin: 0;
}*/
ul.profile-info-list li p i{
    font-size: 17px;
    text-align: center;
    min-width: 16px;
    margin-right: 5px;
}
ul.profile-info-list li p i.fa{
    font-size: 14px;
}
ul.profile-info-list li .btn-group{
    display:none;
}
ul.profile-info-list li:hover .btn-group{
    display:inline;
}

/* ALERT */
.alert {
    font-family: OpenSansRegular;
    margin-bottom: 10px;
}
.alert strong {
    font-family: OpenSansSemibold;
    font-weight: normal;
}
.row.alert-danger{
    padding-top: 6px;
    margin-bottom: 2px;
}

/* SWITCH */
.btn-switch[aria-pressed="true"] {
    background-color: #00a65a;
    border-color: #008d4c;
    color: #ffffff;
}
.btn-switch[aria-pressed="true"]:after {
    content: "Allowed";
}
.btn-switch[aria-pressed="false"]:after {
    content: "Restricted";
    color: #cc0000;
}

a.btn-export-excel {
    font-family: OpenSansRegular;
    background-image: url('../images/icon-excel.png');
    background-position: 6px center;
    background-repeat: no-repeat;
    padding-left: 26px;
}
a.btn-export-excel:hover {
    background-image: url('../images/icon-excel.png');
}
a.btn-export-excel:focus {
    background-image: url('../images/icon-excel.png');
}
.no-cv,
.no-cv:hover,
.no-cv:focus,
.no-cv:active{
    background-color: #e7e7e7;
    border: 1px solid #adadad;
    cursor: default;
    box-shadow: none;
}
.no-cv i {
    font-size: 14px;
    color: #cc0000;
}
a.btn-application-cv-word,
a.btn-application-cv-pdf,
a.btn-application-cv-jpg {
    font-family: OpenSansRegular;
    background-position: 6px center;
    background-repeat: no-repeat;
    padding-left: 26px;
    color: #ffffff;
    line-height: 15px;
}
a.btn-application-cv-word,
a.btn-application-cv-word:hover,
a.btn-application-cv-word:focus {
    color: #2654a9;
}
a.btn-application-cv-pdf,
a.btn-application-cv-pdf:hover,
a.btn-application-cv-pdf:focus {
    color: #da363b;
}
a.btn-application-cv-jpg,
a.btn-application-cv-jpg:hover,
a.btn-application-cv-jpg:focus {
    color: #6a7388;
}
a.btn-application-cv-word img,
a.btn-application-cv-pdf img,
a.btn-application-cv-jpg img {
    vertical-align: bottom;
}

.btn-sm i.ion-person-add{
    font-size: 16px;
    vertical-align: middle;
    line-height: 15px;
}
.btn-link-danger {
    color: #dd4b39;
}
.btn-link-danger:hover,
.btn-link-danger:focus{
    color: #d73925;
}

.applicant-btn-group{
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    margin-bottom: 15px;
    padding: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.applicant-btn-group a.btn-link{
    display:inline-block;
    padding-right: 10px;
    margin-right: 4px;
    margin-bottom: 10px;
    border-right:1px solid #cccccc;
    line-height: 25px;
}

.applicant-btn-group a.btn-link:last-child{
    padding-right: 0px;
    margin-right: 0px;
    border-right: 0px;
}

.applicant-btn-group a.btn-link.active{
    font-family: OpenSansSemibold;
    color: #cc0000
}

/* iCheck - radio and checkbox */
.iradio_flat-blue,
.icheckbox_flat-blue{
    margin-top: -3px;
}
.icheckbox_flat-blue{
    margin-right: 3px;
}

/* FOOTER */
.main-footer {
    background-color: #333333;
    font-size: 10px;
    line-height: 12px;
    padding: 15px 25px;
    color: #cccccc;
}
.main-footer img.ewpci-logo {
    float: left;
    vertical-align: middle;
    margin-right: 10px;
}
.main-footer img.iris-logo {
    float: right;
    vertical-align: middle;
    margin-left: 10px;
}

/* MODAL */
.modal-content {
    border-top: 3px solid #0099cc;
}
.modal-header h4 {
    font-family: OpenSansRegular;
    font-size: 18px;
    color: #333333;
}
.modal-body hr {
    border-top: 1px solid #cbd9dc;
}
.modal-body button.close {
    margin-left: 15px;
}
.modal-body .nav-tabs-custom{
    box-shadow: none;
    margin-bottom: 0;
}
.modal-body .nav-tabs-custom>.tab-content {
    padding: 20px;
}
.modal-body>.nav-tabs-custom>.tab-content>.tab-pane.active>form.form-horizontal>table.table>thead>tr>th {
    font-family: OpenSansSemibold;
}
.modal-body>.nav-tabs-custom>.nav-tabs>li>a{
    color: #ababab;
}
.modal-body>.nav-tabs-custom>.nav-tabs>li>a:hover{
    color: #767676;
}
.modal-body>.nav-tabs-custom>.nav-tabs>li.header {
    font-family: OpenSansSemibold;
    font-size: 16px;
    letter-spacing: -1px;
}
.modal-body>.nav-tabs-custom>.nav-tabs>li.active>a{
    color: #0099cc;
    font-family: OpenSansSemibold;
}
.modal-body .dataTables_wrapper{
    margin-bottom: 15px;
}
.modal-footer{
    background-color:#e4e4e4;
}
.modal-footer p{
    margin: 0;
}
.modal-footer .form-group {
    margin: 0;
}

@media (min-width: 768px){
    
    /* NAVIGATION */
    .navbar-nav>li>a {
        padding: 10px;
        /*text-shadow: 0 1px 0 #ffffff;*/
    }
    
    .navbar-nav>li.user-menu>a {
        padding: 14px 10px;
        font-family: OpenSansRegular;
        font-size: 13px;
        color: #005f8d;
    }
    
    /* SIDEBAR */
    .sidebar {
        background-color: #e4e4e4;
    }
    
    .sidebar-mini.sidebar-collapse .main-header .logo {
        width: 45px;
        padding: 0;
    }
    
    .sidebar-mini.sidebar-collapse .main-header .navbar {
        margin-left: 45px;
    }
    
    .sidebar-mini.sidebar-collapse .main-sidebar {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        width: 45px!important;
        z-index: 850;
    }
    
    .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right),
    .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
        margin-left: -5px;
        height:auto;
    }
    
    .sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 0;
    }
    
    .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span{
        padding: 0; !important;
        background-color: #e1e1e1 !important;
        line-height: 16px !important;
        color: #333333 !important;
        font-family: OpenSansRegular !important;
        font-weight: normal !important;
        border-radius: 0 !important;
    }
    
    .sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu{
        margin-top: -11px;
        border-top: 1px solid #cfcfcf;
    }
    
    .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
    .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
        display: block!important;
        position: absolute;
        width: 180px;
        left: 50px;
        float:left;
    }
    
    .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span {
        padding:9px 5px 10px 20px;
    }
    
    .sidebar-mini.sidebar-collapse .content-wrapper,
    .sidebar-mini.sidebar-collapse .right-side,
    .sidebar-mini.sidebar-collapse .main-footer {
        margin-left:45px !important;    
    }
    
    .form-horizontal .control-display {
        padding: 5px 10px;
        margin-top: 2px;
    }
}












/* LARGE SCREEN */
@media(min-width:1200px){
	
}

/* MEDIUM SCREEN */
@media(min-width:992px) and (max-width:1199px){

    .modal-xlg {
        width: 90% !important;
    }
}

@media(max-width:1042px){
    .main-header .navbar .page-title {
        width: 25%;
    }
}

@media(min-width:992px){

    .modal-xlg {
        width: 90% !important;
    }
    
}

/* SMALL SCREEN */
@media(min-width:768px) and (max-width:991px){
	
    .applicant-main-profile {
        margin-bottom: 20px;
    }
    
}

/* SMALL SCREEN */
@media(max-width:991px){
    
    .navbar-custom-menu .navbar-nav>li>a {
        padding: 11px 10px;
    }
    .navbar-custom-menu .navbar-nav>li.user-menu>a {
        padding: 14px 10px;
    }
	
}

@media(max-width:889px){
    
    .main-header .navbar .page-title {
        /*display: none;*/
    }
    
}
    
/* EXTRA SMALL SCREEN */
@media(max-width:767px){
    
    .navbar-custom-menu .navbar-nav>li.user-menu>a {
        padding: 10px;
    }
    
    .navbar-static-top{
        border-bottom: 1px solid #cbd9dc !important;
    }
	.main-header .navbar .page-title {
        margin-top: 13px;
    }
    .main-header, .main-header .logo {
        width: 100%;
        height: 50px;
        font-family: OpenSansRegular;
        font-size: 18px;
        line-height: 36px;
    }
    
    .main-header, .main-header .logo img {
        vertical-align: top;
    }
    
    .main-header .navbar {
        width: 100%;
        border-top: 0 !important;
        margin-left: 0;
    }
    
    .main-header .sidebar-toggle {
        padding: 10px 20px;
    }
    
    .navbar-nav>.user-menu .user-image {
        width: 30px;
        height: 30px;
        margin-top: 0;
    }
    
    .main-header>.navbar {
        min-height: auto !important;
        
    }
    
    .content-wrapper{
        margin-top:97px;
    }
    
    .content-wrapper, .right-side, .main-footer {
        margin-left: 0;
    }
    
    .sidebar-open .content-wrapper, .sidebar-open .right-side, .sidebar-open .main-footer {
        -webkit-transform: translate(190px, 0);
        -ms-transform: translate(190px, 0);
        -o-transform: translate(190px, 0);
        transform: translate(190px, 0);
    }
    
    .sidebar-open .main-sidebar, .sidebar-open .left-side {
        padding-top: 98px;
    }
    
    .form-control{
        margin-bottom: 10px;
    }
    
    .applicant-main-profile {
        margin-bottom: 20px;
    }
    form.display-info .form-group {
        margin-bottom:10px;
    }
    form.display-info .form-group.form-group-heading {
        padding: 0;
        background-color: transparent;
        border-bottom: 1px solid #e4e4e4;
        margin: 0px 0 15px 0 !important;
    }
    form.display-info .form-group.form-group-heading  label.control-label{
        padding: 0;
        margin-bottom: 5px;
    }
    form.display-info .form-group.form-group-heading .control-display{
        padding: 0;
        margin: 0 0 15px 0;
    }
    form.display-info .control-display {
        margin-bottom: 15px;
    }
    form.applicant-profile .form-group {
        margin-bottom: 20px;
    }
    .form-group-heading{
        padding: 5px;
        line-height: 15px;
    }
    .form-group-heading .control-label{
        margin-bottom: 3px;
    }
}

@media(max-width:500px){
    
    .login-header {
        font-size: 0;
    }
    
}

@media(max-width:481px){
    
    .main-header .logo {
        width: 100%;
        height: 50px;
        font-size: 0;
    }
    
}

.modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}

.dataTables_filter .form-control,
.form-control {
    font-size: 13px;
    color: #333333;
    height: 30px;
    padding: 3px 6px;
}

.loading-overlay{
    position:fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
    color: #ffffff;
    font-size: 48px;
    text-align: center;
    z-index: 1040;
}

.loading-overlay .spinner-lg,
.loading-overlay .spinner-md,
.loading-overlay .spinner-sm{
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
}

.loading-overlay .spinner-lg{
    background-image: url('../images/loading-process-64x64.png');
    width: 64px;
    height: 64px;
    top: 47.5%;
    left: 47.5%;
}
.loading-overlay .spinner-md{
    background-image: url('../images/loading-process-32x32.png');
    width: 32px;
    height: 32px;
    top: 50%;
    left: 50%;
}
.loading-overlay .spinner-sm{
    background-image: url('../images/loading-process-24x24.png');
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
}
.loading-overlay .spinner-xs{
    background-image: url('../images/loading-process-16x16.png');
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
}

/* FACEBOX */
.facebox_overlayBG{
    z-index: 9999 !important;
}
#facebox {
    z-index: 99999 !important;
}
#facebox .popup {
    border: none !important;
}
#facebox .close {
    display:none;
}
#facebox .popup .content .modal-dialog {
    margin: -10px;
}