@charset "utf-8";
/* CSS for LogIn Page */

.iris-login-logo{
	margin-top:7px;
	vertical-align:middle;
}
.login-title-text{
	font-family:"OpenSansLight";
	font-size:20px;
	color:#006699;
	margin-top:10px;
    margin-left:10px;
    vertical-align:middle;
    display:inline-block;
}

#login-form {
	margin-top:75px;
}

#login-form h1 {
	font-family:"OpenSansLight";
	font-size:36px;
	color:#006699;
	margin:0;
	margin-bottom:10px;
	text-align:center;
}

#login-form form{
	background:#ffffff;
	border:1px solid #d6dbe1;
	padding:20px;
}


/* Extra Small */
@media(max-width:767px){
	
	#header {
		height:auto;
		padding-bottom:5px;
	}
	
	.iris-login-logo{
		height:30px;
	}
	
	.login-title-text{
		font-size:16px;
	}
	
}

/* Small */
@media(min-width:768px) and (max-width:991px){
	
	#header {
		height:auto;
		padding-bottom:5px;
	}
	
}

/* Medium */
@media(min-width:992px) and (max-width:1199px){
	
}

/* Large */
@media(min-width:1200px){
	
}