@charset "utf-8";
/* Main Skin */

.main-skin .main-header {
    border-bottom: 1px solid #cbd9dc;
}

.main-header .sidebar-toggle:hover {
    color: #999999;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    background-color: #005f8d;
}
